/* D'Pizza custom styles */ 
@import "theme.less";
@import "buttons.less";

@theme-color: #8c0707;

.menu-header {
    border-radius: 25px; 
    color: whitesmoke; 
    background-color: @theme-color;
    padding: 20px; 
    opacity: 0.9;
    text-align: center;
}

@font-family-sans-serif:  'Kalam', cursive;

.carousel .item, .carousel-inner .item {
  max-height: 600px;
}

.row h4 {
    color: @theme-color;
}

#menu-items span small {
    color: gray;
}

.product-desc {
    font-size: 18px;
}

.btn-warning {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.modal-style, .modal-content {
    margin: 60px auto;
}

.carousel-caption {
    @media(max-width: 45em) {
        display: none;
    }
    background: fadeout(black, 90%)
}

#menu-items .col-md-5, #menu-items .col-md-7 {
    font-size: 15px;
}

#menu-items hr {
    margin-top: 10px;
    margin-bottom: 15px;
    border-top: 1px solid #ddd;
}

@media (max-width: @screen-md) {
    #menu-items .col-md-5 {
        padding-bottom: 10px;
        }
    div.grid-layout {
        padding-left: 15px;
        padding-right: 15px; 
    }
    div.col-md-5 {
        padding-bottom: 10px;
    }
}

.grid-layout {
    border-radius: 25px;
    padding: 30px 0px 30px 0px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

.footer-layout {
    border-radius: 25px;
    background-color: #f5f5f5;
    padding-top: 15px;
}